.solutionsCardContainer {
  background-color: #fff;
  border-radius: 10px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 40px;
  display: flex;
  box-shadow: 0 0 20px -8px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 991px) {
  .solutionsCardContainer {
    padding: 30px;
  }
}

@media screen and (max-width: 479px) {
  .solutionsCardContainer {
    padding: 20px;
  }
}
