.buttonScroll {
  z-index: 10;
  width: 56px;
  height: 56px;
  background-color: #dde0e3;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
  position: fixed;
  bottom: 14px;
  right: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  animation: scrolling-up 0.3s linear;
}

.buttonScroll img {
  transform: rotateX(180deg);
}

@keyframes scrolling-up {
  0% {
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
  }
}
