.customerContainer {
  text-align: center;
}

.customerHeading {
  max-width: 960px;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
}

.gridCustomer {
  display: grid;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.gridCustomer img {
  max-width: 100%;
  object-fit: cover;
  display: inline-block;
  grid-area: span 1 / span 1 / span 1 / span 1;
  border: 0;
}

@media screen and (max-width: 991px) {
  .gridCustomer {
    grid-column-gap: 60px;
    grid-row-gap: 60px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 767px) {
  .gridCustomer {
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr 1fr;
  }
}
