.tilesContainer {
  padding: 140px 28px;
}

.tilesHeader {
  max-width: 719px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.tilesGrid {
  grid-column-gap: 56px;
  grid-row-gap: 56px;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-auto-columns: 1fr;
  display: grid;
}

@media screen and (max-width: 991px) {
  .tilesContainer {
    padding-top: 112px;
    padding-bottom: 112px;
  }
}

@media screen and (max-width: 767px) {
  .tilesContainer {
    padding-top: 84px;
    padding-bottom: 84px;
  }
}
