@media screen and (min-width: 800px) {
  .heroContainer {
    padding: 168px 28px 112px 28px;
  }

  .heroTitle h1 {
    letter-spacing: -0.02em;
    margin-bottom: 21px;
    font-weight: 600;
    font-size: 84px;
    line-height: 0.9em;
    text-align: center;
  }

  .heroDesc {
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    color: #292f36;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 800px) {
  .heroContainer {
    padding: 70px 28px;
  }

  .heroTitle h1 {
    letter-spacing: -0.02em;
    margin-bottom: 21px;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
  }

  .heroDesc {
    font-weight: 400;
    color: #292f36;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
    line-height: 28px;
  }
}

.heroTitle {
  margin: auto;
  width: 100%;
  max-width: 1161px;
}

@media screen and (min-width: 480px) {
  .heroButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .heroMainButton {
    margin-right: 8px;
    border-radius: 16px;
    font-size: 24px;
  }

  .secondaryButton {
    margin-left: 8px;
    border-radius: 16px;
    font-size: 24px;
  }
}

@media screen and (max-width: 480px) {
  .heroMainButton {
    width: 100%;
    margin-bottom: 6px;
  }

  .secondaryButton {
    width: 100%;
  }
}

.heroButtonContainer {
  box-sizing: border-box;
  margin-top: 28px;
}

.heroMainButton {
  box-sizing: border-box;
  color: var(--c-primary);
  text-decoration: none;
  font-weight: 600;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  line-height: 28px;
  padding: 32px 28px;
  transition: all 0.2s;
}

.heroMainButton:hover {
  scale: 1.05;
}

.heroMainButton a {
  text-decoration: none;
  color: var(--c-primary);
}

.secondaryButton {
  box-sizing: border-box;
  color: var(--c-secondary);
  text-decoration: none;
  font-weight: 600;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  line-height: 28px;
  padding: 32px 28px;
  border-radius: 7px;
  box-shadow: 0 7px 21px rgba(0, 0, 0, 0.15);
  transition: all 0.2s;
  cursor: pointer;
}

.secondaryButton:hover {
  scale: 1.05;
}

.secondaryButton a {
  font-size: 18px;
  line-height: 26px;
  text-decoration: none;
  color: var(--c-secondary);
}
