@media screen and (min-width: 800px) {
  .heroContainer {
    padding: 168px 28px 112px 28px;
  }

  .heroTitle h1 {
    letter-spacing: -0.02em;
    margin-bottom: 21px;
    font-weight: 600;
    font-size: 84px;
    line-height: 0.9em;
    text-align: center;
  }

  .heroDesc {
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    color: #292f36;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 800px) {
  .heroContainer {
    padding: 70px 28px;
  }

  .heroTitle h1 {
    letter-spacing: -0.02em;
    margin-bottom: 21px;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
  }

  .heroDesc {
    font-weight: 400;
    color: #292f36;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
    line-height: 28px;
  }
}

.heroTitle {
  margin: auto;
  width: 100%;
  max-width: 1161px;
}

@media screen and (min-width: 480px) {
  .heroButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .heroMainButton {
    border-radius: 16px;
    font-size: 24px;
  }

  .secondaryButton {
    margin-left: 8px;
    border-radius: 16px;
    font-size: 24px;
  }
}

@media screen and (max-width: 480px) {
  .heroMainButton {
    width: 100%;
    margin-bottom: 6px;
  }

  .secondaryButton {
    width: 100%;
  }
}

.heroButtonContainer {
  box-sizing: border-box;
  margin-top: 28px;
}

.heroMainButton {
  color: #fff;
  text-align: center;
  background-color: #3d3d3d;
  border-radius: 14px;
  justify-content: center;
  align-items: center;
  padding: 18px 28px 16px;
  padding-top: 18px;
  padding-bottom: 16px;
  font-weight: 600;
  transition: transform 0.2s;
  display: flex;
  box-shadow: 0 7px 21px rgba(0, 0, 0, 0.15);
  padding-top: 10px;
  padding-bottom: 10px;
}

.buttonText {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 24px;
  line-height: 32px;
}

.heroMainButton:hover {
  scale: 1.05;
}

.heroMainButton a {
  text-decoration: none;
  color: var(--c-primary);
}

.secondaryButton {
  padding-left: 40px;
  padding-right: 40px;
  color: #292f36;
  background-color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  border-radius: 14px;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  transition: transform 0.2s;
  display: flex;
  box-shadow: 0 7px 21px rgba(0, 0, 0, 0.15);
  margin-left: 21px;
}

.secondaryButton:hover {
  scale: 1.05;
}

.secondaryButton a {
  font-size: 18px;
  line-height: 26px;
  text-decoration: none;
  color: var(--c-secondary);
}
